<%= form_for @profile, :url => profile_path, html: { multipart: true } do |f| %>
	<% if @profile.errors.any? %>
		 <ul>
		 	<% @profile.errors.full_messages.each do |error| %>
		 		<li> <%= error %> </li>
		 	<% end %>
		 </ul>
	<% end %>
	
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name, required: true %>
	</div>
	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name, required: true %>
	</div>
	<div class="field">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</div>
	<div class="field">
		<%= f.label :avatar %>
		<div>
			<%= image_tag @current_user.profile.avatar.url(:thumb) %>
		</div>
		<div>
			<%= f.file_field :avatar %>		
		</div>
	</div>
	<div class="field field--notifications clearfix">
		<%= f.check_box :notifications, class: 'left checkbox' %><%= f.label :notifications, 'Sign up to receive comment notifications', class: 'left' %>
	</div>
	<div class="field">
		<%= f.submit class: 'button' %>
	</div>
	
<% end %>