<%= form_for @profile, :url => profile_path do |f| %>
	<% if @profile.errors.any? %>
		 <ul>
		 	<% @profile.errors.full_messages.each do |error| %>
		 		<li> <%= error %> </li>
		 	<% end %>
		 </ul>
	<% end %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
	<%= f.label :city %>
	<%= f.text_field :city %>
	<%= f.label :bio %>
	<%= f.text_area :bio %>
	<%= f.submit %>
<% end %>