<section class="profile profile__show">
	<h2><%= @profile.first_name %> <%= @profile.last_name %></h2>
	<p><%= @profile.city %></p>
	<p><%= @profile.bio %></p>
	<%= image_tag @profile.avatar.url(:medium) %>
	<p><%= link_to "Edit Profile", edit_profile_path %></p>
	<div class="profile__links">
		<span class="profile__links--link"><%= link_to "Add a Group", new_group_path %></span>
	</div>
</section>