<section class="login template--pad">
  <div class="login__wrapper box-shadow">
    <div class="row text--center">
      <h2>Sign up</h2>
      <p>Create an account to get started on Bookbuddies!</p>
    </div>
    <div class="form__container row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field rel">
          <%= f.label :email, class: "visually-hidden" %>
          <i class="fa fa-envelope"></i>
          <%= f.email_field :email, placeholder: "Email Address" %>
        </div>

        <div class="field rel">
          <%= f.label :password, class: "visually-hidden" %>
          <i class="fa fa-unlock-alt"></i>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          
        </div>

        <div class="field rel">
          <%= f.label :password_confirmation, class: "visually-hidden" %>
          <i class="fa fa-unlock-alt"></i>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'button' %>
        </div>
      <% end %>
    </div>
   <!--  <div class="row">
      <%= render "devise/shared/links" %>
    </div> -->
  </div>
</section>
