<%= form_for @group do |f| %>
	<% if @group.errors.any? %>
		 <ul>
		 	<% @group.errors.full_messages.each do |error| %>
		 		<li> <%= error %> </li>
		 	<% end %>
		 </ul>
	<% end %>

	<div class="field">
		<%= f.label :group_name %>
		<%= f.text_field :group_name, required: true %>
	</div>
	<div class="field">
		<%= f.label :location, "Group Location" %>
		<%= f.text_field :location, placeholder: "ie. City Name", required: true %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :meetup_location, "Meetup Address" %>
		<%= f.text_field :meetup_location %>
		<small><em>ex: 123 Main Street, City, State/Province</em></small>
	</div>
	<div class="field">
		<%= f.label :group_image %>
		<div class="pad">
			<%= f.file_field :group_image %>		
		</div>
		<small><em>Best size is 1440px by 250px</em></small>
	</div>
	<div class="field">
		<%= f.submit class: 'button button--medium' %>
	</div>

<% end %>