<%= form_for @group do |f| %>
	<% if @group.errors.any? %>
		 <ul>
		 	<% @group.errors.full_messages.each do |error| %>
		 		<li> <%= error %> </li>
		 	<% end %>
		 </ul>
	<% end %>

	<div class="field">
		<%= f.label :group_name %>
		<%= f.text_field :group_name %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>
	<div class="field">
		<%= f.submit class: 'button' %>
	</div>

<% end %>