<section class="group__index">
	<h2>My Groups</h2>
	<div class="group__list">
		<% @grs.each do |gr| %>
			<div class="group__list--group">
				<h3><%= link_to gr.group.group_name, group_path(gr) %></h3>

				<p>Members: <%= gr.user.profile.first_name %> <%= gr.user.profile.last_name %></p>
				<small>Profile ID: <%= gr.user_id %></small>
				<br />
				<small>Group ID: <%= gr.group_id %></small>
				<br />
				<%= link_to "Edit Group", edit_group_path(gr) %>
			</div>
		<% end %>
	</div>
	<div class="group__links">
		<span class="groups__links--link"><%= link_to "Create a new group", new_group_path %></span>
	</div>
</section>