<div class="row">
	<h1>Group#index</h1>
	<p>Find me in app/views/group/index.html.erb</p>
</div>



<h2>Book Groups</h2>


<%= link_to "Create a new group", new_group_path %>


<h3>My groups</h3>
<% @grs.each do |gr| %>
	<div>
		<h4><%= link_to gr.group.group_name, group_path(gr) %></h4>

		<p>Members: <%= gr.user.profile.first_name %> <%= gr.user.profile.last_name %></p>
		<small>Profile ID: <%= gr.user_id %></small>
		<br />
		<small>Group ID: <%= gr.group_id %></small>
		<br />
		<%= link_to "Edit Group", edit_group_path(gr) %>
	</div>
<% end %>