<section class="group group__index">
	<div class="group__header row">
		<h2>My Groups</h2>
	</div>
	<div class="group__list row">
		<% @grs.each do |gr| %>
			<div class="group__list--group">
				<h3><%= link_to gr.group.group_name, group_path(gr) %></h3>
				<%= image_tag gr.group.group_image.url(:thumb) %>
				<p>Members: <%= gr.user.profile.first_name %> <%= gr.user.profile.last_name %></p>
				<small>Profile ID: <%= gr.user_id %></small>
				<br />
				<small>Group ID: <%= gr.group_id %></small>
				<br />
				<%= link_to "Edit Group", edit_group_path(gr) %>
			</div>
		<% end %>
	</div>
	<div class="group__links row pad">
		<span class="groups__links--link"><%= link_to "Create a new group", new_group_path %></span>
	</div>
</section>