<h1>Group#index</h1>
<p>Find me in app/views/group/index.html.erb</p>

<!-- <h2>Book Groups</h2>
<% @groups.each do |group| %>
	<div class="post panel row">
		
		<h4><%= link_to group.group_name, group  %></h4>
		<p><%= group.description %></p>
		<small><%= group.location %></small>
		<%= link_to "Edit", edit_group_path(group) %>
	</div>
<% end %> -->

<h2>Book Groups</h2>


<%= link_to "Make a Group", new_group_path %>


<h3>My groups</h3>
<% @grs.each do |gr| %>
	<div class="post panel row">
		<h4><%= link_to gr.group.group_name, group_path(gr) %></h4>

		<p><%= gr.profile.first_name %> <%= gr.profile.last_name %></p>
		<small>Profile ID: <%= gr.profile_id %></small>
		<br />
		<small>Group ID: <%= gr.group_id %></small>
		<br />
		<%= link_to "Edit Group", edit_group_path(gr) %>
	</div>
<% end %>