<h2>This is where a user's info would go</h2>

<%= @group.group_name %><br />
<%= @group.book_name %><br />
<%= @group.author %><br />
<%= @group.description %><br />
<%= @group.location %><br />
<%= @group.created_at %><br />
