<h1>Group#show</h1>
<p>Find me in app/views/group/show.html.erb</p>

	<div class="post panel row">
		<h4><%= @group.group_name %></h4>
		<p><%= @group.description %></p>
		<p>Group ID: <%= @group.id %></p>
		<br />

		<div style="border:1px solid black">
			Group members:
			<% @members.each do |member| %>
				<%= image_tag member.user.profile.avatar.url(:thumb) %>
				<%= member.user.profile.first_name %>
				<br />
			<% end %>
		</div>
		
		<br />
		<small>Location: <%= @group.location %></small> <br />
		<%= link_to "Edit", edit_group_path(@group) %>
		<!-- <%= link_to "Delete group", group_path(@group), method: :delete, data: { confirm: "Are you sure? This will delete all associated books and comments. This action cannot be undone."} %> -->
		<!-- <%= link_to "All my groups", groups_path  %> -->
	</div>

<div>
	<%= link_to "Add a book", new_book_path(group_id: @group.id) %>
	<br>
	<%= link_to "Show group books", books_path(group_id: @group.id) %>
</div>