<section class="group group__show">
	<div class="group__banner" style="background: url(<%= @group.group_image.url %>); background-size: cover; background-position: center; height: 200px;"></div>
	<div class="template--pad row">
		<div class="column small-12 medium-4">
			<div class="group__header">
				<div class="group__header--wrapper box-shadow">
					<h2><%= @group.group_name %></h2>
					<p><%= @group.description %></p>
					<p>Location: <%= @group.location %></p>
					<p><i class="fa fa-cog"></i> <%= link_to "Edit Group", edit_group_path(@group) %></p>
				</div>
			</div>
			<div class="group__members">
				<div class="group__members--wrapper box-shadow">
					<div class="group__members--header">
						<h4>Group members:</h4>
					</div>
					<div class="pad clearfix row">
						<% @members.each do |member| %>
							<div class="group__members--member column small-4">
								<%= image_tag member.user.profile.avatar.url(:thumb), class: "avatar--small" %>
								<%= member.user.profile.first_name %>
							</div>
						<% end %>
					</div>
					<div class="group__invite">
						<!-- INVITE A USER TO JOIN GROUP FORM -->
						<%= render partial: 'userInviteForm', locals: {group_id: @group.id } %> 
						<%= notice %> 
					</div>
				</div>
			</div>
		</div>
		<div class="column small-12 medium-8">
			<div class="book book__index">
				<div class="book__header row">
					<h2><%= @group.group_name %>'s Books</h2>
					<% unless @group.books.present? %>
						<p>Looks like you don't have any books!</p>
					<% end %>
				</div>
				<div class="row">
					<%= link_to "Add a New Book", new_book_path(group_id: @group.id), class: 'button' %>
				</div>
				<div class="book__list row template--pad">
					<% @group.books.each do |book| %>
						<div class="book__list--book column small-12 medium-4">
							<div class="book__info row">
								<%= image_tag book.cover.url(:thumb) %>
								<h3><%= link_to book.book_name, book_url(book) %></h3>
								<p><span class="book__author">Author:</span> <%= book.author %></p>
								<p><span class="book__description">Description:</span><br><%= book.description %></p>
							</div>
							<div class="book__link">
								<%= link_to 'View Book', book_path(id: book.id), class: "button button--accent button--medium" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row group__meetup-location pad">
			<h2>Meetup Location</h2>
			<p><%= @group.meetup_location %></p>
			<div id="map-container" style="height: 300px; border: 1px solid #eee;">
				
			</div>
		</div>
	</div>
	
</section>

<script type="text/javascript">
    function set_map(location){
      var mapOptions = {
        center: new google.maps.LatLng(43.6532,-79.3832),
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map-container"),
      mapOptions);

      var geocoder = new google.maps.Geocoder();

      geocoder.geocode({
        'address':location
      },

      function(result, status){
        if (status == google.maps.GeocoderStatus.OK){
          map.setCenter(result[0].geometry.location);

          var marker = new google.maps.Marker({
            map: map,
            position: result[0].geometry.location
          });
        }else{
          alert("Meetup location is invalid.");
        }
      });
      return false;
    }

    $(document).ready(function(){
      set_map('<%= @group.meetup_location %>');
    })
  </script>

