<section class="group__show">
	<div class="group__info">
		<h2><%= @group.group_name %></h2>
		<p><%= @group.description %></p>
	</div>

	<div class="group__members">
		<h3>Group members:</h3>
		<% @members.each do |member| %>
			<%= image_tag member.user.profile.avatar.url(:thumb) %><br>
			<%= member.user.profile.first_name %>
			<br />
		<% end %>
	</div>
	
	<div class="group__location">
		Location: <%= @group.location %>
	</div>
	
	<div class="group__links">
		<span class="group__links--link"><%= link_to "Edit", edit_group_path(@group) %></span>
		<span class="group__links--link"><%= link_to "Add a book", new_book_path(group_id: @group.id) %></span>

		<span class="group__links--link"><%= link_to "Show group books", books_path(group_id: @group.id) %></span>
		<!-- INVITE A USER TO JOIN GROUP FORM -->
		<p>Enter the email of the User you would live to invite to this group</p>
		<!-- Render form here -->
		<%= render 'userInviteForm' %> 
	</div>
</section>


