<div class="container" column-5>
	<div class="row">
		<h1>Bookbuddies is coming soon...</h1>
	</div>
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>
  	<div class="row">
  		<h1>Listing Users</h1>
  	</div>
	<div class="row">
		<table>
		  <thead>
		    <tr>
		      <th>First Name</th>
		      <th>Last Name</th>
		      <th>Username</th>
		      <th>City</th>
		      <th>Bio</th>
		      <th colspan="5"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		        <td><%= user.first_name %></td>
		        <td><%= user.last_name %></td>
		        <td><%= user.user_name %></td>
		        <td><%= user.city %></td>
		        <td><%= user.bio %></td>
		        <td><%= link_to 'Show', user %></td>
		        <td><%= link_to 'Edit', edit_user_path(user) %></td>
		        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div class="row">
		<%= link_to 'New User', new_user_path %>
	</div>
</div>

