<div class="container" column-5>
	<div class="row">
		<h1>User Info (show)</h1>
	</div>
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row">
		<h5>Name:</h5>
		<%= @user.first_name %>
		<%= @user.last_name %>
	</div>
	<div class="row">
		<h5>Username:</h5>
		<%= @user.user_name %>
	</div>
	<div class="row">
		<h6>City:</h6>
		<%= @user.city %>
	</div>
	<div class="row">
		<h6>Bio:</h6>
		<%= @user.bio %>
	</div>
	<div class="row">
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>