<section class="login template--pad">
	<div class="login__wrapper box-shadow">
		<div class="row text--center">
			<h2>Forgot your password?</h2>
			<p>Send yourself a password reset link!</p>
		</div>
		<div class="form__container row">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field rel">
			    <%= f.label :email, class: "visually-hidden" %>
			    <i class="fa fa-envelope"></i>
			    <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Send Password Reset", class: "button" %>
			  </div>
			<% end %>
		</div>
	</div>
</section>




