<section class="login template--pad">
  <div class="login__wrapper box-shadow">
	  <div class="row">
	  	<h2>Please provide your email</h2>
	  </div>
	  <div class="form__container row">
	  	<%= @user.errors.full_messages.join(", ") %>

	  	<%= form_for @user, url: '/twitter_signup' do |f| %>
		  	<div class="field rel">
		  		<%= f.label :email, class: "visually-hidden" %>
		  		<i class="fa fa-envelope"></i>
		  		<%= f.email_field :email, placeholder: "Email Address" %>
		  	</div>
	  	
	  		<%= f.submit "Join", class: "button" %>

	  		<%= f.hidden_field :provider %>
	  		<%= f.hidden_field :uid %>
	  		<%= f.hidden_field :token %>
	  		<%= f.hidden_field :secret %>
	  		<%= f.hidden_field :avatar_url %>
	  	<% end %>
	  </div>
  </div>
</section>