<div class="about row template--pad">
	<h2>About Bookbuddies</h2>
	<p>Bookbuddies is an application built by <%= link_to "Robin Hamill", "http://www.robinhamill.ca", class: "primary" %> and <%= link_to "Jessica Jones", "http://www.heyjess.ca/", class: "primary" %> as a part of the Ruby on Rails Development course at <%= link_to "HackerYou", "http://www.hackeryou.ccom", class: "primary" %>.</p>
	<div class="about--container">
		<div class="about--creator box-shadow">
			<h3>Robin Hamill</h3>
			<div class="about--creator__headshot">
				<%= image_tag ('robin.jpg'), class: 'avatar--small' %>
			</div>
			<div class="about-creator__bio">
				<p>Robin is an independent web application and ecommerce developer in Toronto. He loves to build intuitive and functional web apps that engage users and solve problems.</p>
			</div>
			<div class="about--creator__links">
				<a href="http://twitter.com/rbnhmll"><i class="fa fa-twitter"></i></a>
				<a href="https://ca.linkedin.com/pub/robin-hamill/59/195/86b"><i class="fa fa-linkedin"></i></a>
				<a href="http://github.com/rbnhmll"><i class="fa fa-github"></i></a>
				<a href="http://codepen.io/rbnhmll"><i class="fa fa-codepen"></i></a>
			</div>
		</div>
		<div class="about--creator box-shadow">
			<h3>Jessica Jones</h3>
			<div class="about--creator__headshot">
				<%= image_tag ('jess.jpg'), class: 'avatar--small' %>
			</div>
			<div class="about-creator__bio">
				<p>Jess is a Front-End / Shopify Theme Developer at Demac Media, where she turns beautifully crafted designs into highly customized Shopify themes for clients.</p>
			</div>
			<div class="about--creator__links">
				<a href="http://www.twitter.com/helloheyjess"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/heyjessjones"><i class="fa fa-linkedin"></i></a>
				<a href="http://www.github.com/helloheyjess"><i class="fa fa-github"></i></a>
				<a href="http://www.codepen.io/helloheyjess"><i class="fa fa-codepen"></i></a>
			</div>
		</div>
	</div>

	<h4>Icon Credits</h4>
	<small>Default User Icon by John Hart.<br>
	Default Book Icon by Piotrek Chuchla.<br>
	Default Group icons by Danilo Gusmão Silveira, Mani Amini, and Creative Stall.<br>
	Sign-Up icon by Pieter J. Smits.<br>
	Users icon by Garrett Knoll.<br>
	Conversation icon by Creative Stall.</small>
	<br>
	<em>All of the above icons are from <%= link_to "The Noun Project", "http://www.thenounproject.com/", class: "primary" %></em>
</div>

