<%= form_for @book, multipart: true do |f| %>
	<% if @book.errors.any? %>
		 <ul>
		 	<% @book.errors.full_messages.each do |error| %>
		 		<li> <%= error %> </li>
		 	<% end %>
		 </ul>
	<% end %>

	<div class="field">
		<%= f.label :book_name %>
		<%= f.text_field :book_name %>
	</div>
	<div class="field">
		<%= f.label :author %>
		<%= f.text_field :author %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :cover %>
		<%= f.file_field :cover %>
	</div>
	
	<%= f.hidden_field :group_id, :value => @group.id %>
	
	<div class="field">
		<%= f.submit class: 'button button--medium' %>
	</div>
	

<% end %>