<section class="book book__index">
	<div class="book__header row">
		<h2>My Group's Books</h2>
	</div>
	<div class="books__list row">
		<% @books.each do |book| %>
			<div class="books_list--book column small-12 medium-4">
				<h3><%= link_to book.book_name, book_url(book) %></h3>
				<%= image_tag book.cover.url(:thumb) %>
				<p>Author: <%= book.author %></p>
				<p>Description: <%= book.description %></p>
			</div>
		<% end %>
	</div>
	<div class="books__links row">
		<%= link_to "Add a New Book", new_book_path(group_id: @group.id), class: 'a--reset button' %>
	</div>
</section>




