<section class="book book__index template--pad">
	<div class="book__header row">
		<h2><%= @group.group_name %>'s Books</h2>
	</div>
	<div class="book__list row template--pad">
		<% @books.each do |book| %>
			<div class="book_list--book column small-12 medium-4">
				<div class="book__info row">
					<%= image_tag book.cover.url(:thumb) %>
					<h3><%= link_to book.book_name, book_url(book) %></h3>
					<p><span class="book__author">Author:</span> <%= book.author %></p>
					<p><span class="book__description">Description:</span> <%= book.description %></p>
				</div>
				<div class="book__link row">
					<%= link_to 'View Book', book_path(id: book.id), class: "button button--accent" %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row">
		<%= link_to "Add a New Book", new_book_path(group_id: @group.id), class: 'button' %>
	</div>
</section>




