<section class="book book__show template--pad">
	<!-- SHOW BOOK -->
	<div class="book__container row">
		<%= image_tag @book.cover.url(:medium) %>
		<h3><%= @book.book_name %></h3>
		<p>Author: <%= @book.author %></p>
		<p>Description: <%= @book.description %></p>
		<div class="book__links row">
			<%= link_to "Edit", edit_book_path(group_id: @book.group_id) %>
			<%= link_to "Delete book", book_path(@book, group_id: @group.id), method: :delete, data: { confirm: "Are you sure?"} %>
		</div>
		
	</div>
	<div class="book__comments">
		<!-- CREATE COMMENTS -->
		<div class="comments__header row pad">
			<h4>Comments</h4>
			<% unless @comments.present? %>
				<p>There are no comments yet!  Get the conversation started...</p>
			<% end %>
		</div>
		<div class="book__comments--create form__container row">
			<%= form_for(@comment.new) do |f| %>
				<%= f.text_field :content, class: 'field--float' %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :book_id, :value => @book.id %>
				<%= f.submit "Add comment", class: 'button button--float' %>
			<% end %>
		</div>
		<!-- LIST COMMENTS -->
		<div class="book__comments--list pad">
			<% @comments.each do |comment| %>
				<div class="comment__container row pad">
					<div class="column small-4">
						<%= image_tag comment.user.profile.avatar.url(:thumb), class: "avatar--small"  %>
					</div>
					<div class="column small-8">
						<div class="comment__content">
							<p><%= comment.content %></p>
						</div>
						<small>Posted by: <%= comment.user.profile.first_name %> <%= comment.user.profile.last_name %> <%= time_ago_in_words(comment.created_at) %> ago.</small>
						<% if current_user.id == comment.user.profile.id %>
							<p class="text--right"><%= link_to "Delete comment", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?"} %></p>
						<% end %>
					</div>
					
				</div>
			<% end %>
		</div>
	</div>
</section>