<h2>Show a book</h2>

<div class="book_container">
	<%= image_tag @book.cover.url %>
	<h3><%= @book.book_name %></h3>
	<p>Description: <%= @book.description %></p>
	<p>Author: <%= @book.author %></p>
	<p><%= @book.group_id %></p>
	<%= link_to "Edit", edit_book_path(group_id: @book.group_id) %>
	<%= link_to "Delete book", book_path(@book, group_id: @group.id), method: :delete, data: { confirm: "Are you sure?"} %>
</div>