<section class="book book__show template--pad">
	<!-- SHOW BOOK -->
	<div class="row">
		<div class="book__container column small-12 medium-4">
			<div class="book__container--wrapper">
				<%= image_tag @book.cover.url(:medium) %>
				<h3><%= @book.book_name %></h3>
				<h4>Author</h4>
				<p><%= @book.author %></p>
				<h4>Description</h4>
				<p><%= @book.description %></p>

				<!-- Favorite -->
				<%= render 'bookFavorite' %>
				<br>
				<small><i class="fa fa-cog"></i> <%= link_to "Edit Book", edit_book_path(group_id: @book.group_id) %></small>
				<br>
				<small><i class="fa fa-trash"></i> <%= link_to "Delete book", book_path(@book, group_id: @group.id), method: :delete, data: { confirm: "Are you sure?"} %></small>
			</div>
			<%= link_to group_path(@group), class: "button button--accent" do %>
				<i class="fa fa-caret-left"></i>Back to Group
			<% end %>
		</div>

		<div class="book__comments column small-12 medium-8">
			<!-- CREATE COMMENTS -->
			<div class="comments__header row pad">
				<h4>Discussion</h4>
				<% unless @comments.present? %>
					<p>There are no comments yet!  Get the conversation started...</p>
				<% end %>
			</div>

			<div class="book__comments--create form__container row">
				<%= form_for(@comment.new) do |f| %>
					<%= f.text_field :content, class: 'field--float' %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.hidden_field :book_id, :value => @book.id %>
					<%= f.submit "Add comment", class: 'button button--float' %>
				<% end %>
			</div>
			<!-- LIST COMMENTS -->
			<div class="book__comments--list pad">
				<% @comments.each do |comment| %>
					<div class="comment__container row pad">
						<div class="column small-4">
							<%= image_tag comment.user.profile.avatar.url(:thumb), class: "avatar--small"  %>
						</div>
						<div class="column small-8">
							<div class="comment__content">
								<p><%= comment.content %></p>
							</div>
							<small>Posted by <%= comment.user_name %> <%= time_ago_in_words(comment.created_at) %> ago.</small>
							<% if current_user.id == comment.user.profile.id %>
								<p class="text--right"><%= link_to "Delete comment", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?"} %></p>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	
</section>