<h2>Show a book</h2>

<div class="book_container">
	<h3><%= @book.book_name %></h3>
	<p>Author: <%= @book.author %></p>
	<p>Description: <%= @book.description %></p>
	<%= link_to "Edit", edit_group_book_path %>
	<%= link_to "Delete book", group_book_path(@group, @book), method: :delete, data: { confirm: "Are you sure?"} %>
</div>