<% if current_user.present? %>
	<div class="profile__modal">
		<div class="profile__modal--wrapper box-shadow">
			<div class="profile__modal--header">
				<h3><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h3>
			</div>
			<div class="profile__modal--img">
				<%= image_tag current_user.profile.avatar.url(:medium) %>
			</div>
			<div class="profile__modal--content">
				<h4>Location</h4>
				<p><%= current_user.profile.city %></p>
				<h4>Bio</h4>
				<p><%= current_user.profile.bio %></p>
				<small><i class="fa fa-cog"></i><%= link_to "Edit Profile", edit_profile_path %></small>
			</div>
		</div>
	</div>
<% end %>