<!DOCTYPE html>
<html>
<head>
  <title>Bookbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="header__wrapper">
			<h1><%= link_to image_tag("bookbuddies_logo.png"), root_path %></h1>
			<nav>	
				<% if user_signed_in? %>
					<%= link_to "Sign out", "/users/sign_out", method: 'delete' %>
					<%= link_to "My Groups", groups_path %>
					<%= link_to "View Profile", '/profile' %>
					<p>Welcome <%= current_user.profile.first_name %></p>
				<% else %>
					<%= link_to "Sign in", "/users/sign_in" %>
				<% end %>
			</nav>
		</div>
	</header>

	<section class="notices">
		<div class="wrapper">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
	</section>
	
	
	<main>
		<div class="main__wrapper">
			<%= yield %>
		</div>
	</main>
	
	<footer>
		
	</footer>

</body>
</html>
