<!DOCTYPE html>
<html>
<head>
  <title>Bookbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB04y2SB1sBuX-_B4Q2xLQD3FaR8PfOzPY" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="header row">
			<div class="header__logo column small-4">
				<h1><%= link_to "bookbuddies", root_path %></h1>
			</div>
			<div class="header__nav column small-8 text--right">
				<nav>	
					<% if user_signed_in? %>
						<ul class="ul--reset">
							<li class="header__nav--link"><%= link_to "Groups", groups_path %></li>
							<li class="header__nav--link"><%= link_to "Profile", '/profile' %></li>
							<li class="header__nav--link"><%= link_to "Sign out", "/users/sign_out", method: 'delete' %></li>
						</ul>
					<% end %>
				</nav>
			</div>
			
		</div>
	</header>
	
	<main>
		<div class="main__wrapper">
			
			<%= yield %>
		</div>
	</main>
	
	<footer class="js-sticky-footer">
		<div class="footer row">
			<div class="column small-6">
				<h4>Book Buddies</h4>
				<p>By <a href="http://www.robinhamill.ca">Robin</a> and <a href="http://www.heyjess.ca/">Jess</a></p>
			</div>
			<div class="column small-6 text--right">
				<a href="#" class="footer__link">About</a>
			</div>
		</div>
	</footer>
</body>
</html>
