<!DOCTYPE html>
<html>
<head>
  <title>Bookbuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header>
		<div class="header row header--row">
			<div class="header__logo column small-4">
				<h1><%= link_to image_tag("bookbuddies_logo.png"), root_path %></h1>
			</div>
			<div class="header__nav column small-8 text--right">
				<nav>	
					<% if user_signed_in? %>
						<%= link_to "My Groups", groups_path %> //
						<%= link_to "View Profile", '/profile' %> //
						<%= link_to "Sign out", "/users/sign_out", method: 'delete' %>
					<% end %>
				</nav>
			</div>
			
		</div>
	</header>
	
	<main>
		<div class="main__wrapper">
			<%= yield %>
		</div>
	</main>
	
	<footer>
		<div class="footer row footer--row">
			<div class="column small-6">
				<h4>Book Buddies</h4>
				<p>By Robin and Jess</p>
			</div>
		</div>
	</footer>
</body>
</html>
